#root {
  text-align: center;
  width: 100%;
}

body[data-theme="light"] {
  --colors-header-bg: #f8f8f8;
  --colors-header-text: #1e1e1e;
  --color-header-border: #000000;
  --color-footer-bg: #007acc;
}

body[data-theme="dark"] {
  --colors-header-bg: #3c3c3c;
  --colors-header-text: #cccccc;
  --color-header-border: #cccccc33;
  --color-icon: #cccccc;
  --color-footer-bg: #007acc;
  --colors-footer-text: #ffffff;
  --colors-footer-remote-bg: #16825d;
  --colors-side-bar-bg: #333333;
  --colors-icon-inactive: #ffffff66;
  --colors-side-bar-container-bg: #252526;
  --colors-top-tab-bg: #1e1e1e;
  --color-top-tab-text: #ffffff;
  --color-top-tab-border: #454545;
  --color-side-bar-border: #454545;
  --color-top-tabs-bg: #252526;
  --color-content-bg: #1e1e1e;
  --color-scroll: #454545;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
